In [30]:
import pandas as pd

df = pd.read_json('shows.jsonl', lines=True).sort_values('views_all_time', ascending=False)
df = df.reindex(columns=['title', 'date', 'venus', 'views_all_time'])
df.views_all_time = df.views_all_time.astype(int)
df

,title,date,venus,views_all_time
0,Dead & Company Live at Times Union Center on 2...,2015-10-29,NaN,83881
616,Dead & Company Live at Barton Hall on 2023-05-08,2023-05-08,NaN,81392
280,Dead & Company Live at PNC Music Pavillion on ...,2016-06-10,NaN,68419
436,Dead & Company Live at Fenway Park on 2016-07-15,2016-07-15,NaN,66575
539,Dead & Company Live at Citizens Bank Park on 2...,2021-08-21,NaN,62725
...,...,...,...,...
421,Dead & Company Live at Jiffy Lube Live on 2016...,2016-06-23,NaN,238
544,Dead & Company Live at Darein Lake on 2021-08-25,2021-08-25,NaN,234
791,Dead & Company Live at Sphere on 2025-03-29,2025-03-29,NaN,157
301,Dead & Company Live at BB&T Center on 2018-02-26,2018-02-26,NaN,75
306,Dead & Company Live at Folsom Field on 2018-07-13,2018-07-13,NaN,0

In [35]:
# filter top 25% of shows viewed
quantile_val = df.views_all_time.quantile(0.75)
top_quartile = df[df.views_all_time >= quantile_val]
top_quartile

,title,date,venus,views_all_time
0,Dead & Company Live at Times Union Center on 2...,2015-10-29,NaN,83881
616,Dead & Company Live at Barton Hall on 2023-05-08,2023-05-08,NaN,81392
280,Dead & Company Live at PNC Music Pavillion on ...,2016-06-10,NaN,68419
436,Dead & Company Live at Fenway Park on 2016-07-15,2016-07-15,NaN,66575
539,Dead & Company Live at Citizens Bank Park on 2...,2021-08-21,NaN,62725
...,...,...,...,...
36,Dead & Company Live at Irvine Meadows on 2016-...,2016-07-26,NaN,14228
186,Dead & Company Live at Cellairis Amphitheater ...,2018-06-08,NaN,14067
777,"Dead & Company Live at Sphere, Las Vegas, NV o...",2024-08-10,NaN,14056
775,Dead & Company Live at The Sphere on 2024-08-09,2024-08-09,NaN,13992
1,Dead & Company Live at DCU Center on 2015-11-10,2015-11-10,NaN,13939